*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header,
section h2,
section h3,
form button {
    font-family: 'Saira Condensed', sans-serif;
}
body,input,textarea {
    font-family: 'Saira Condensed', sans-serif;
}
header {
    padding: 16px 0;
    background-color: #d27daf;
    color: #ecf0f1;
}
header nav li {
    display: inline;
    margin-left: 50px;
    font-size: 25px;
}

header nav li a {
    color:#ecf0f1;
    text-decoration: none;
}
.logotipo{
    width: 120px;
    display:inline;
}

header .container,
section .container {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

section .container {
    align-items: flex-start;
}
section {
    padding: 30px 0;
    color: #1e0c20;
    margin-left: 50px;
    margin-right: 50px;
}
section h2 {
    margin-bottom: 16px;
    
}
section p {
    margin-bottom: 10px;
}
.store-front {
    margin-right: 6%;
}
.social-links img{
    height: 24px;
}
.social-links li{
    display: inline;
    margin-right: 8px;
}
.social-links li a{
    text-decoration: none;
    }

#contact .container{
    display: block;
}
.contact-methods{
    display: flex;
    justify-content: space-between;
}
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}
form textarea{
    resize: none;
    height: 100px;
}
section h3{
    margin-bottom: 16px;
}
form button{
    background-color: #d27daf;
    color: #ecf0f1;
    border:none;
    width: 320px;
    padding: 2px;
    cursor: pointer;
}
form button:hover{
    background-color: #a98399;
    
}
input :focus, textarea:focus{
    outline-color: #c0b3bc;
}
footer{
    background-color:#d27daf;
    color:#ecf0f1;
    padding: 8px 0;
}